* {
  padding: 0;
  margin: 0;
}

body {
  /* Quel est la police à utiliser ? */
  background-color: #000000;
  height: 300vh;
}

/* HEADER */
.Header {
  display: flex;
  background-color: #333333;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
}
.Header .Gauche {
  padding-left: 50px;
}
.Header .Gauche a {
  text-decoration: 0px;
  color: #ffffff;
}
.Header .Droite {
  padding-right: 50px;
}
.Header .Droite a {
  padding: 0px 10px;
  text-decoration: 0px;
  color: #ffffff;
}
/* /HEADER */

/* PRESENTATION */
.Main .Presentation {
  /* Quels sont les exigences d'Olivier concernant 
    le comportement de l'image de fond ? */
  /* Version bureau :  */
  /* Version Smartphone :  */
  background-image: url("Img/1.Paris.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  text-align: center;
  height: 100vh;
}
.Main .Presentation h1 {
  color: #ffffff;
  width: 40vw;
}
.Main .Presentation h1 .Gold {
  color: gold;
}
.Main .Presentation p {
  color: #ffffff;
  width: 40vw;
}
/* /PRESENTATION */

/* VOYAGES */

.Voyages {
  background-color: #cccccc;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Voyages > p {
  font-size: 30px;
}

.Voyages .Destinations {
  display: flex;
  flex-direction: row;
}
.Voyages .Destinations div {
}

.Voyages .Destinations .Destination1 {
  background-color: #ffffff;
  margin: 10px;
  text-align: center;
}
.Voyages .Destinations .Destination1 img {
  width: 350px;
  height: 250px;
}
.Voyages .Destinations .Destination1 .Description1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  gap: 10px;
}
.Voyages .Destinations .Destination1 .Description1 hr {
  width: 10%;
  height: 2px;
  background-color: black;
}

.Voyages .Destinations .Destination2 {
  background-color: #ffffff;
  margin: 10px;
  text-align: center;
}
.Voyages .Destinations .Destination2 img {
  width: 350px;
  height: 250px;
}
.Voyages .Destinations .Destination2 .Description2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  gap: 10px;
}
.Voyages .Destinations .Destination2 .Description2 hr {
  width: 10%;
  height: 2px;
  background-color: black;
}

.Voyages .Destinations .Destination3 {
  background-color: #ffffff;
  margin: 10px;
  text-align: center;
}
.Voyages .Destinations .Destination3 img {
  width: 350px;
  height: 250px;
}
.Voyages .Destinations .Destination3 .Description3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  gap: 10px;
}
.Voyages .Destinations .Destination3 .Description3 hr {
  width: 10%;
  height: 2px;
  background-color: black;
}

/* /VOYAGES */

footer {
}
