* {
  padding: 0;
  margin: 0;
}

body {
  /* Quel est la police à utiliser ? */
  background-color: #000000;
}

/* HEADER */
.Header {
  display: flex;
  background-color: #333333;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
}
.Header .Gauche {
  padding-left: 50px;
}
.Header .Gauche a {
  text-decoration: 0px;
  color: #ffffff;
}
.Header .Droite {
  padding-right: 50px;
}
.Header .Droite a {
  padding: 0px 10px;
  text-decoration: 0px;
  color: #ffffff;
}
/* /HEADER */

/* PRESENTATION */
.Main .Presentation {
  /* Quels sont les exigences d'Olivier concernant 
    le comportement de l'image de fond ? */
  /* Version bureau :  */
  /* Version Smartphone :  */
  background-image: url("Img/1.Paris.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  text-align: center;
  height: 35vh;
}
.Main .Presentation h1 {
  color: #ffffff;
  width: 40vw;
}
.Main .Presentation h1 .Gold {
  color: gold;
}
.Main .Presentation p {
  color: #ffffff;
  width: 40vw;
}
/* /PRESENTATION */

/* DESTINATION */
.Destinations {
  background-color: #cccccc;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Destinations .Destination1 {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
}

.Destinations .Destination2 {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
}

.Destinations .Destination3 {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
}
/* /DESTINATION */

footer {
}
