body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background-color: orange;
  transition: all 1s;
}

.box:hover {
  /* transform: rotate(30deg); */
  transform: skew(30deg);
  /* transform: scale(1.2); */
}
