p {
  /* color: blue; */
  font-size: 40px;
  /* color: rgb(123, 57, 14); */
  /* color: rgba(60, 56, 127, 0.3); */
  color: #0000ff;
}

div {
  width: 500px;
  height: 500px;
  background-color: teal;
}
