.image {
  width: 1000px;
  height: 600px;
  background-image: url(img/test.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.border {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  border-radius: 50%;
  border: 5px solid black;
}
