* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}
.Gold {
  color: #F1C40F;
  font-weight: normal;
}

.Pointilles {
  color: #ffffff;
}

a{
  text-decoration: none;
  color: #ffffff;

}


/* PRESENTATION */
.Main .Presentation {
  background-image: url("Img/1.Paris.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}
.Main .Presentation h1 {
  text-shadow: 3px 3px #000000;
  color: #ffffff;
  width: 80vw;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}
.Main .Presentation p {
  text-shadow: 2px 2px #000000;
  text-align: center;
  padding-top: 20px;
  color: #ffffff;
  width: 80vw;
  font-size: 25px;
}
/* /PRESENTATION */

/* VOYAGES */

.Voyages {
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Voyages > p {
  font-size: 30px;
  padding-bottom: 50px;
  text-align: center;
  padding: 30px 0px;
}

.Voyages .Destinations {
  display: flex;
  height: auto;
  gap: 20px;
  padding-bottom: 30px;
  width: 80%;
  flex-direction: column;
  justify-content: space-around;
}
.Voyages .Destinations div {
}

.Voyages .Destinations .Destination1 {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  background-color: #ffffff;
  text-align: center;
}
.Voyages .Destinations .Destination1 img {
  width: 100%;
  height: 400px;
}
.Voyages .Destinations .Destination1 .Description1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 10px;
}
.Voyages .Destinations .Destination1 .Description1 hr {
  width: 13%;
  height: 2px;
  background-color: #333333;
}

.Voyages .Destinations .Destination2 {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  background-color: #ffffff;
  text-align: center;
}
.Voyages .Destinations .Destination2 img {
  width: 100%;
  height: 400px;
}
.Voyages .Destinations .Destination2 .Description2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 10px;
}
.Voyages .Destinations .Destination2 .Description2 hr {
  width: 13%;
  height: 2px;
  background-color: #333333;
}

.Voyages .Destinations .Destination3 {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  background-color: #ffffff;
  text-align: center;
}
.Voyages .Destinations .Destination3 img {
  width: 100%;
  height: 400px;
}
.Voyages .Destinations .Destination3 .Description3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 10px;
}
.Voyages .Destinations .Destination3 .Description3 hr {
  width: 13%;
  height: 2px;
  background-color: #333333;
}

/* /VOYAGES */

/* EQUIPE */

.Equipe{
  background-color: #333333;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  height: auto;
}
.Equipe img{ 
  width: 100%; 
  height: 500px; 
}
.Equipe div{
}
.Equipe .Presentation1{
}
.Equipe .Presentation1 .Gold{
}
.Equipe .Presentation1 .Titre{
  font-weight: bold;
  font-size: 28px;
  padding: 30px 50px;
}
.Equipe .Presentation1 .Description{
  padding: 0px 50px;
  padding-left: 50px;
  padding-bottom: 20px;
  font-size: 23px;
}
/* /EQUIPE */

/* AVIS */
.Avis{
  background-color: #CCCCCC;
  height: auto;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Avis .Titre1{
  font-size: 40px;
  padding: 30px 0px;
  text-align: center;
}
.Avis div{
}

.Guillemet_ouvrante,
.Guillemet_fermante{
  width: 20px;
  height: 20px;
}

.Guillemet{
}

.Avis .Jane_Bridges{
  width: 80%;
  height: auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.Avis .Jane_Bridges .Avis_Jane{
  padding-left: 60px;
  padding-top: 30px;
  padding-right: 60px;
  font-size: 18px;

}
.Avis .Jane_Bridges .Profil1{  
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  align-items: center;
}
.Avis .Jane_Bridges .Profil1 img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.Avis .Jane_Bridges .Profil1 .Ville1{
  color: #bbbbbb;
}



.Avis .Celia_lac{  
  width: 80%;
  height: auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column-reverse;
}
.Avis .Celia_lac .Avis_Celia{
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  font-size: 18px;
  
}
.Avis .Celia_lac .Profil2{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.Avis .Celia_lac .Profil2 img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.Avis .Celia_lac .Profil2 .Ville2{
  color: #bbbbbb;
}



.Avis .Marco_De_Rossi{  
  width: 80%;
  height: auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.Avis .Marco_De_Rossi .Avis_Marco{ 
  padding-left: 60px;
  padding-top: 30px;
  padding-right: 60px;
  font-size: 18px;
}
.Avis .Marco_De_Rossi .Profil3{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  align-items: center;
}
.Avis .Marco_De_Rossi .Profil3 img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.Avis .Marco_De_Rossi .Profil3 .Ville3{
  color: #bbbbbb;
}
/* /AVIS */

/* Contact */
.Contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: #333333;
}
.Contact p{
  font-size: 30px;
  padding-left: 15px;
  padding-bottom: 30px;
  color: #ffffff;
}
.Contact .Formulaire input{
  background-color: #333333;
  border: none;
  padding: 10px 10px;

}
.Contact .Formulaire textarea{
  background-color: #333333;
  border: none;
  padding: 10px 10px;
}
.Contact .Formulaire button{
  background-color: #F1C40F;
  color: #FFFFFF;
  border: none;
  font-size: large;
  font-weight: bold;
  margin-left: 50px;
  margin-top:  30px;
  margin-bottom: 30px;
  height: 50px;
  width: 150px;
  border-top-left-radius: 70px 75px;
  border-bottom-left-radius: 70px 75px;
  border-top-right-radius: 70px 75px;
  border-bottom-right-radius: 70px 75px;
}
/* /Contact */

.Footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  height: 100px;
  background-color: #444444;
}