.container {
  background-color: red;
  width: 500px;
  height: 500px;
  position: relative;
  /* visibility: hidden; */
  /* display: none; */
  /* overflow: hidden; */
  /* overflow: scroll; */
  overflow: auto;
}

.elem1 {
  background-color: blue;
  top: 20px;
  left: 20px;
  width: 300px;
  height: 900px;
  margin-bottom: 20px;
  z-index: 1;
}

.elem2 {
  background-color: yellow;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 300px;
}
